body {
  background-color: white;
  color: black;
  margin: 0px;
}
.header {
width: 342px;
height: 78px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

nav {
  height: 200px;
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.menu {
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(18, 23, 17);
  padding: 15px 32px;
  color: white;
  width: 85px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


