body {
    background-color: white;
    color: black;
    margin: 0px;
}
.header {
  width: 342px;
  height: 78px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
    height: 200px;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

#menubutton a {
    font-size: 20px;
    background-color: pink;
    padding: 15px, 32px;
    color: black;
    width: 85px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }



