body{
    background-color: white;
    color: black;
}

nav{
    height: 200px;
    background-color: whitesmoke;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  a{
    font-weight: bold;
    font-size: 20px;
    border-radius:50px;
    background-color: tomato;
    padding: 2px, 15px;
    color: white;
    width: 85px;
    height: 25px;
    text-align: center;
  }

/*<style type="text/css">< !-- SPAN {
    color: #555555;
    text-decoration: none;
    cursor: default;
    behavior: url(main.htc);
    filter: progid:dximagetransform.microsoft.pixelate(duration=.3, maxSquare=22, enabled=false);
    height: 0px;
    clip: rect();
}

--></style>*/
